/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c37;
    color: white;
}

header {
    background: #008dff;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    margin-top: 80px;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.header-description {
    font-size: 18px;
    margin-top: 10px;
}

.icons {
    margin-top: 20px;
}

.icon-link {
    display: inline-block;
    margin: 0 10px;
}

.icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.section {
    padding: 60px 0;
    background: #282c37;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.project {
    background: #3d3f49;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project h3 {
    font-size: 24px;
    color: #00a2ff;
}

.project p {
    font-size: 18px;
}

a.roblox-link,
a.icon-link {
    color: #00a2ff;
    text-decoration: none;
    font-weight: bold;
}

a.roblox-link:hover,
a.icon-link:hover {
    text-decoration: underline;
}
