.u-section-1 .u-sheet-1 {
  min-height: 771px;
}

.u-section-1 .u-group-1 {
  margin-top: 32px;
  margin-bottom: 0;
  height: auto;
  background-image: none;
  min-height: 83px;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-1 .u-line-1 {
  left: 139px;
  top: 22px;
  transform-origin: center top 0px;
  position: absolute;
  height: 41px;
}

.u-section-1 .u-image-1 {
  width: 79px;
  height: 60px;
  margin: 12px auto 0 52px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  margin: -51px auto 0 157px;
}

.u-section-1 .u-text-2 {
  margin: -32px auto 0 322px;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  margin: 32px auto 0 138px;
}

.u-section-1 .u-list-1 {
  width: 864px;
  margin: 32px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 366px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 271px;
  background-image: none;
  height: auto;
  min-height: 299px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 169px;
  height: 161px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 15px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 500;
  font-size: 1.875rem;
  margin: 15px auto 0;
}

.u-section-1 .u-shape-1 {
  height: 51px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -44px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 11px auto 0 0;
  padding: 4px 118px 4px 116px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: 271px;
  height: auto;
  min-height: 299px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-3 {
  width: 169px;
  height: 161px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 15px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 500;
  font-size: 1.875rem;
  margin: 15px auto 0;
}

.u-section-1 .u-shape-2 {
  height: 51px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -44px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 11px auto 0 0;
  padding: 4px 118px 4px 116px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 271px;
  height: auto;
  min-height: 299px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-4 {
  width: 169px;
  height: 161px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 15px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 500;
  font-size: 1.875rem;
  margin: 15px auto 0;
}

.u-section-1 .u-shape-3 {
  height: 51px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -44px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 11px auto 0 0;
  padding: 4px 118px 4px 116px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: 95px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 17px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 325px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 48px;
    margin-left: 38px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 375px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1275px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-1 .u-line-1 {
    left: 138px;
    top: 27px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 11px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 153px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 318px;
  }

  .u-section-1 .u-list-1 {
    width: 601px;
    margin-top: 42px;
    margin-left: 38px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 749px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1385px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -47px;
    margin-left: 156px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -29px;
    margin-right: 182px;
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    width: 282px;
    margin-top: 21px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 1070px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1405px;
  }

  .u-section-1 .u-group-1 {
    min-height: 97px;
  }

  .u-section-1 .u-line-1 {
    left: 120px;
    top: 28px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 17px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -42px;
    margin-right: 101px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -25px;
    margin-right: 32px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 38px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 25px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-2 {
  border-color: transparent !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-3 {
  border-color: transparent !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-3 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-4 {
  border-color: transparent !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-image-4 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}