 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(15,24,38,0.8), rgba(15,24,38,0.8)), url('images/fortnite_chapter_2_season_3_game-wallpaper-3840x1600.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 385px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 115px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 115px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 446px;
}

.u-section-2 .u-tabs-1 {
  min-height: 305px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  --radius: 5px;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  --radius: 5px;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 20px;
}

.u-section-2 .u-accordion-1 {
  width: 1052px;
  margin: 21px auto 0;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 20px;
}

.u-section-2 .u-accordion-2 {
  width: 1052px;
  margin: 21px auto 0;
}

.u-section-2 .u-accordion-link-5 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-6 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-accordion-pane-6 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-accordion-link-7 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-accordion-pane-7 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-9 {
  padding: 20px;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-accordion-link-8 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-8 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-9 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-9 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-11 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-10 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-10 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 20px;
}

.u-section-2 .u-text-10 {
  font-size: 0.625rem;
}

.u-section-2 .u-accordion-link-11 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-11 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-13 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-12 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-12 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-14 {
  padding: 20px;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-accordion-link-13 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-13 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-15 {
  padding: 20px;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-accordion-link-14 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-14 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-16 {
  padding: 20px;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-accordion-link-15 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-15 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-17 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-16 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-icon-10 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-16 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-18 {
  padding: 20px;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-accordion-link-17 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-icon-11 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-17 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-19 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-18 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-icon-12 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-18 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-20 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-19 {
  background-image: none;
  --radius: 5px;
}

.u-section-2 .u-icon-13 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-19 {
  min-height: 74px;
  height: auto;
}

.u-section-2 .u-container-layout-21 {
  padding: 20px;
}

.u-section-2 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-15 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-accordion-1 {
    width: 940px;
  }

  .u-section-2 .u-accordion-2 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-accordion-1 {
    width: 695px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-accordion-2 {
    width: 695px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-accordion-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 975px;
    margin-bottom: 0;
  }

  .u-section-2 .u-accordion-1 {
    width: 330px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .u-section-2 .u-accordion-2 {
    width: 328px;
    margin-top: 22px;
  }
}